body {
    margin: 0;
}

#E_table {
    height: 100%;
}

.SidebarPanel {
    position: fixed;
    width: 24%;
    overflow-y: auto;
    height: 65%;
    overflow-x: hidden;
}

#E_SidebarPanel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    height: auto;
    overflow: auto;
}

#E_SidebarPanel li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

    #E_SidebarPanel li a.active {
        background-color: #428bca;
        color: white;
    }

    #E_SidebarPanel li a:hover:not(.active) {
        background-color: #555;
        color: white;
    }

.display-inline {
    display: inline-block;
}

.dropdown-menu > li > a:hover {
    color: #686868;
}

.glyphicon-map-marker {
    position: absolute;
    z-index: 1000;
    top: 30%;
    left: 2%;
}

.dropdown-menu {
    height: 198px !important;
    overflow-y: auto !important;
}

table {
    width: 100%;
}

thead, tbody, tr, td, th {
    display: block;
}

    tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }

    thead th {
        height: 40px;
    }

tbody {
    height: 360px;
    overflow-y: auto;
}

    tbody td, thead th {
        width: 5%;
        float: left;
    }

@media only screen and (min-width: 420px) {
    tbody {
        height: 254px;
    }

    .SidebarPanel {
        height: 56%;
    }
}

@media only screen and (min-width: 768px) {
    tbody {
        height: 292px;
    }
}

@media only screen and (min-width: 1024px) {
    tbody {
        height: 376px;
    }

    .SidebarPanel {
        height: 62%;
    }
}

@media only screen and (min-width: 1280px) {
    tbody {
        height: 376px;
    }

    .SidebarPanel {
        height: 62%;
    }
}

@media only screen and (min-width: 1440px) {
    tbody {
        height: 442px;
    }

    .SidebarPanel {
        height: 60%;
    }
}

@media only screen and (min-width: 1600px) {
    tbody {
        height: 542px;
    }

    .SidebarPanel {
        height: 70%;
    }
}

@media only screen and (min-width: 1700px) {
    tbody {
        height: 692px;
    }
}

@media only screen and (min-width: 1900px) {
    tbody {
        height: 712px;
    }

    .SidebarPanel {
        height: 74%;
    }
}


@media only screen and (min-width: 2100px) {
    tbody {
        height: 1018px;
    }

    .SidebarPanel {
        height: 80%;
    }
}


@media only screen and (min-width: 2500px) {
    tbody {
        height: 1696px;
    }

    .SidebarPanel {
        height: 86%;
    }
}

.span-text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 150px;
    display: inline-block;
}

.custom-alert {
    padding: 14px 8px 7px 8px !important;
    width: 30% !important;
    left: 36% !important;
    z-index: 1001;
    position: absolute;
    top: -66px !important;
}

.divTable {
    display: table;
    width: 100%;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    background-color: #eee;
    display: table-header-group;
}

.divTableCell, .divTableHead {
    border: 1px solid #ddd;
    display: table-cell;
    padding: 3px 10px;
}

.divTableHeading {
    background-color: #eee;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #eee;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    /*position: fixed;
    height: 330px;
    overflow-y: scroll;*/
    display: table-row-group;
}

.pagination {
    /*position: fixed;
    right: 0;
    bottom: 40px;*/
    position: absolute;
    right: 0;
    /*bottom: 40px;*/
}

.wrap {
    width: 100%;
}

    .wrap div {
        width: 100%;
        table-layout: fixed;
    }

div .divtr .divtd {
    padding: 5px;
    border: 1px solid #eee;
    word-wrap: break-word;
}

div.head .divtr .divtd {
    background: #eee;
    display: inline-block;
}

.inner_table {
    height: 100px;
    overflow-y: auto;
}
