body {
    margin: 0;
}

#E_SidebarPanel {
    width: 25%;
    display: inline-table;
    position: relative;
    top: 0;
}

#E_table {
    width: 72%;
    display: inline-table;
    position: relative;
    height: 500px;
    margin-left: 20px;
}

#E_SidebarPanel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*width: 25%;*/
    background-color: #f1f1f1;
    /*position: absolute;*/
    height: auto;
    overflow: auto;
}

#E_SidebarPanel li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

    #E_SidebarPanel li a.active {
        background-color: #428bca;
        color: white;
    }

    #E_SidebarPanel li a:hover:not(.active) {
        background-color: #555;
        color: white;
    }

.display-inline {
    display: inline-block;
}

.dropdown-menu > li > a:hover {
    color: #686868;
}